* {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Museo Sans', sans-serif;
}

.wrapper {
	max-width: 1280px;
	min-width: 1024px;
	margin: 0 auto;
	padding: 27px 36px 82px;
}

.button {
	align-items: center;
	background-color: #3855fc;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 24px;
	padding: 16px 40px;
	transition: all 0.25s;
}

.button:hover {
	background-color: white;
	box-shadow: 0 3px 8px rgba(56, 85, 252, 0.4);
	color: #3855fc;
}

.button:active {
	background-color: #fecc69;
	box-shadow: none;
	color: white;
	transition-duration: 0.15s;
}

.button[disabled],
.button.disabled {
	background-color: #c3ccfe;
	box-shadow: none;
	color: white;
	cursor: default;
}

header {
	align-items: center;
	display: flex;
	height: 60px;
}

header .logo {
	flex: 1;
}

header .logo img {
	display: block;
	height: 21px;
	width: auto;
}

header .menu {
	align-items: center;
	display: flex;
}

header .menu .item {
	color: #3855fc;
	cursor: pointer;
	font-size: 20px;
	line-height: 1.4;
	margin-right: 48px;
	text-decoration: none;
	transition: color 0.2s;
}

header .menu .item:hover {
	color: #8598ff;
}

header .menu .item.active {
	color: black;
	cursor: default;
}

header .menu .create-btn {
	color: white;
	height: 60px;
	margin-right: 174px;
	padding: 0 22px 0 15px;
	transition: all 0.4s;
}

header .menu .create-btn::before {
	content: '+';
	font-size: 36px;
	margin-right: 15px;
}

header .menu .create-btn:hover {
	color: #3855fc;
}

header .menu .create-btn:active {
	color: white;
	transition-duration: 0.15s;
}

header .menu .create-btn.disabled {
	background-color: #c3ccfe;
	box-shadow: none;
	color: white;
	cursor: default;
}

header .menu .logout {
	align-items: center;
	border-bottom: 0;
	display: flex;
	margin-right: 0;
}

header .menu .logout::before {
	background: url('logout.svg') no-repeat;
	content: '';
	height: 21px;
	margin-right: 9px;
	width: 20px;
}

main.login {
	padding: 150px 0;
}

main.login .form {
	margin: 0 auto;
	width: 400px;
}

main.login h1 {
	font-size: 32px;
	line-height: 1.2;
	margin-bottom: 25px;
	text-align: center;
}

main.login .fields {
	border: 2px solid #3855fc;
	border-radius: 15px;
}

main.login input {
	display: block;
	font-size: 20px;
	height: 60px;
	line-height: 1;
	padding: 20px 13px;
	width: 100%;
}

main.login input.login {
	border-bottom: 2px solid #3855fc;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

main.login input.password {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

main.login .fields.error,
main.login .fields.error input.login {
	border-color: #e74c3c;
}

main.login .controls {
	align-items: center;
	display: flex;
	margin-top: 15px;
}

main.login .error-msg {
	color: #e74c3c;
	font-size: 16px;
	line-height: 1.25;
	margin-right: 15px;
}

main.login .button {
	margin-left: auto;
}

main.list {
	margin-top: 36px;
	width: 80%;
}

main.list .header,
main.list .item {
	display: flex;
}

main.list .header {
	padding: 9px 0;
}

main.list .cell {
	flex-shrink: 0;
	padding-right: 8px;
}

main.list .header .cell {
	color: #3855fc;
	font-size: 15px;
	line-height: 1.2;
}

main.list .header .cell.active {
	color: #7b8b91;
}

main.list .header .cell span {
	border-bottom: 1px dashed;
	cursor: pointer;
}

main.list .header .cell.active span {
	border-bottom-color: transparent;
	cursor: default;
}

main.list .body {
	margin-top: 4px;
}

main.list .item {
	background-color: white;
	border: 1px solid #9baafd;
	border-radius: 15px;
	color: #233e47;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 10px;
	padding: 22px 0;
	position: relative;
	transition: box-shadow 0.2s, border-color 0.2s;
}

main.list .item:last-child {
	margin-bottom: 0;
}

main.list .item:hover {
	border-color: transparent;
	box-shadow: 0 3px 8px rgba(56, 85, 252, 0.4);
}

main.list .item:hover::after {
	background: url('edit.svg') no-repeat;
	content: '';
	height: 20px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
}

main.list .created {
	padding-left: 15px;
	width: 15%;
}

main.list .author {
	width: 25%;
}

main.list .title {
	width: 30%;
}

main.list .publisher {
	width: 17.5%;
}

main.list .links {
	width: 12.5%;
}

main.list h1,
main.create h1,
main.edit h1 {
	font-size: 60px;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 60px;
}

main.create,
main.edit {
	margin-top: 36px;
}

main.create section,
main.edit section {
	margin-bottom: 56px;
}

main.create section:last-child,
main.edit section:last-child {
	margin-bottom: 0;
}

main.create section h2,
main.edit section h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.25;
}

main.create section .description,
main.edit section .description {
	font-size: 20px;
	line-height: 1.25;
	margin-top: 10px;
}

main.create section .fields,
main.edit section .fields {
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	margin-bottom: -30px;
}

main.create section .field,
main.edit .new-links .field {
	margin-right: 14px;
	margin-bottom: 30px;
}

main.create section .field:last-child,
main.edit section .field:last-child {
	margin-right: 0;
}

main.create section label,
main.edit section label {
	display: block;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 14px;
}

main.create section input,
main.edit section input {
	border: 2px solid #3855fc;
	border-radius: 15px;
	font-size: 20px;
	height: 60px;
	line-height: 28px;
	padding: 17px;
	width: 100%;
}

main.create section input[disabled],
main.edit section input[disabled] {
	color: #888;
}

main.create section.upload .drop-zone,
main.edit section.upload .drop-zone {
	align-items: center;
	border: 2px dashed #3855fc;
	border-radius: 15px;
	color: #3855fc;
	cursor: pointer;
	display: flex;
	font-size: 24px;
	font-weight: 900;
	height: 160px;
	justify-content: center;
	margin-top: 48px;
	transition: all 0.2s;
	width: 500px;
}

main.create section.upload .drop-zone.filled,
main.edit section.upload .drop-zone.filled {
	background-color: #3855fc;
	border-color: transparent;
	color: white;
}

main.create section.upload .drop-zone.active,
main.edit section.upload .drop-zone.active {
	background-color: #fff0cf;
	border-color: transparent;
	color: black;
}

main.create section.upload .drop-zone .text,
main.edit section.upload .drop-zone .text {
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}

main.create section.submit .button,
main.edit section.submit .button {
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	margin-top: 36px;
	padding: 40px 70px;
}

main.edit section.submit .button {
	background-color: #6ac083;
}

main.edit section.submit .button:hover {
	background-color: white;
	box-shadow: 0 3px 8px rgba(106, 192, 131, 0.4);
	color: #6ac083;
}

main.edit section.submit .button:active {
	background-color: #fecc69;
	box-shadow: none;
	color: white;
	transition-duration: 0.15s;
}

main.edit section.submit .button[disabled] {
	background-color: #d2ecda;
	box-shadow: none;
	color: white;
}

main.create section.submit .button.published,
main.edit section.submit .button.published {
	background-color: transparent;
	color: #4ab969;
}

main.create section.submit .button.published::before,
main.edit section.submit .button.published::before {
	background: url('check.svg') no-repeat;
	content: '';
	height: 41px;
	margin-right: 16px;
	margin-left: -45px;
	transform: translateY(-5px);
	width: 32px;
}

main.create section.result .get-links,
main.edit section.result .get-links {
	align-items: center;
	background-color: #3855fc;
	border-radius: 15px;
	color: white;
	display: inline-flex;
	font-size: 15px;
	line-height: 1.25;
	margin-top: 36px;
	padding: 12px 20px;
	transition: background-color 0.2s;
	text-decoration: none;
}

main.create section.result .get-links::before,
main.edit section.result .get-links::before {
	background: url('qr.svg') no-repeat;
	content: '';
	height: 34px;
	margin-right: 20px;
	width: 34px;
}

main.create section.result .get-links:hover,
main.edit section.result .get-links:hover {
	background-color: #8598ff;
}

main.create section .field.author,
main.create section .field.publisher {
	width: 33.33%;
}

main.create section .field.title {
	width: 50%;
}

main.create section.submit .data {
	font-size: 20px;
	line-height: 1.4;
	margin-top: 36px;
}

main.create section.submit .data .invalid {
	color: #ff4b4f;
}

main.create section.result .error-msg {
	color: grey;
	font-size: 20px;
	line-height: 1.4;
	margin-top: 36px;
}

main.edit section .data {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	line-height: 1.2;
	margin-top: 12px;
}

main.edit section .data:first-child {
	margin-top: 0;
}

main.edit section .data.hidden {
	display: none;
}

main.edit section .data.title {
	font-size: 34px;
	font-weight: 700;
	line-height: 1.1;
}

main.edit section .data.publisher {
	margin-top: 25px;
}

main.edit section .data .edit {
	background: transparent url('edit.svg') no-repeat;
	cursor: pointer;
	height: 20px;
	margin-left: 14px;
	transition: opacity 0.2s;
	width: 20px;
}

main.edit section .data .edit:hover {
	opacity: 0.6;
}

main.edit section .field {
	margin-top: 12px;
	width: 40%;
}

main.edit section .field:first-child {
	margin-top: 0;
}

main.edit section .field.hidden {
	display: none;
}

main.edit section .field.publisher {
	margin-top: 30px;
}

main.edit section.result .header {
	align-items: center;
	display: flex;
}

main.edit section.result h2 {
	margin-right: 75px;
}

main.edit section.result .create-btn {
	font-size: 20px;
	height: 60px;
	padding: 0 22px 0 15px;
}

main.edit section.result .create-btn::before {
	content: '+';
	font-size: 36px;
	margin-right: 15px;
}

main.edit section.result .existing-links {
	margin: 36px 0 -9px;
}

main.edit section.result .get-links {
	margin: 0 9px 9px 0;
}

main.edit section.result .new-links {
	border-radius: 15px;
	box-shadow: 0 3px 8px rgba(56, 85, 252, 0.4);
	margin-top: 36px;
	padding: 30px 40px 40px;
}

main.edit section.result .new-links .fields {
	align-items: flex-end;
	margin-bottom: 0;
}

main.edit section.result .new-links .field {
	margin-bottom: 0;
	width: 250px;
}

main.edit section.result .new-links .submit {
	background-color: #3855fc;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 24px;
	padding: 16px 40px;
	transition: all 0.25s;
}

main.edit section.result .new-links .submit[disabled] {
	background-color: #c3ccfe;
	cursor: default;
}

main.edit section.result .new-links .submit:not([disabled]):hover {
	background-color: white;
	box-shadow: 0 3px 8px rgba(56, 85, 252, 0.4);
	color: #3855fc;
}

main.edit section.result .new-links .submit:not([disabled]):active {
	background-color: #fecc69;
	box-shadow: none;
	color: white;
	transition-duration: 0.15s;
}

main.edit section.submit { 
	margin-top: 110px;
}

.unsaved-changes {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	bottom: 0;
	display: flex;
	left: 0;
	justify-content: center;
	position: fixed;
	right: 0;
	top: 0;
}

.unsaved-changes .dialog {
	position: relative;
	width: 480px;
}

.unsaved-changes .close {
	background: url('close.svg') no-repeat;
	cursor: pointer;
    height: 16px;
    position: absolute;
    right: -28px;
    top: -22px;
    width: 16px;
}

.unsaved-changes .close:hover {
	opacity: 0.6;
}

.unsaved-changes .message {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 5px 20px rgba(56, 85, 252, 0.2);
	font-size: 20px;
	line-height: 1.25;
	padding: 40px 20px;
	text-align: center;
}

.unsaved-changes .controls {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 22px;
}

.unsaved-changes .cancel {
	border-bottom: 1px solid;
	color: #3855fc;
	cursor: pointer;
	font-size: 20px;
	line-height: 1.25;
	user-select: none;
}

.unsaved-changes .cancel:hover {
	color: #8598ff;
}
