* {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Museo Sans', sans-serif;
}

.wrapper {
	min-width: 320px;
	padding: 14px 15px 30px;
}

header {
	align-items: center;
	display: flex;
	height: 25px;
	margin-bottom: 15px;
}

header .logo {
	flex: 1;
	font-family: 'Termina', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.2em;
}

header .show-help,
header .hide-help {
	background-color: #3855fc;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	flex-shrink: 0;
	font-size: 15px;
	font-weight: 700;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px;
}

header .hide-help {
	display: none;
}

main {
	background-color: white;
	box-shadow: 0 3px 8px rgba(56, 85, 252, 0.4);
	border-radius: 8px;
	margin-bottom: 33px;
	padding: 20px 20px 30px;
}

main .author {
	font-size: 20px;
	line-height: 1.38;
	margin-bottom: 14px;
}

main .title {
	font-size: 38px;
	font-weight: 900;
	line-height: 1.2;
	margin-bottom: 20px;
}

main .download {
	align-items: center;
	display: flex;
	margin-bottom: 30px;
}

main .download a {
	background-color: #3855fc;
	border-radius: 8px;
	color: white;
	flex: 1;
	font-size: 20px;
	height: 65px;
	line-height: 65px;
	margin-right: 8px;
	text-align: center;
	text-decoration: none;
}

main .download a.disabled {
	background-color: #c3ccfe;
	cursor: default;
}

main .download .info {
	color: #3855fc;
	line-height: 1.25;
}

main .download .extension {
	font-size: 16px;
	font-weight: 900;
}

main .download .size {
	font-size: 13px;
	padding-left: 3px;
}

main .counter {
	font-size: 16px;
	line-height: 1.375;
}

main .counter .value {
	color: #3855fc;
	font-weight: 700;
}

footer {
	font-size: 16px;
	line-height: 1.375;
}

footer .show-help {
	border-bottom: 1px dashed;
	color: #3855fc;
	cursor: pointer;
}

footer .number {
	color: #3855fc;
}

.faq {
	background-color: white;
	box-shadow: 0 3px 8px rgba(56, 85, 252, 0.4);
	border-radius: 8px;
	display: none;
	padding: 20px 20px 30px;
}

.faq h2 {
	font-size: 30px;
	font-weight: 900;
	line-height: 1;
}

.faq h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 20px;
}

.faq p {
	font-size: 15px;
	line-height: 1.4;
	margin-top: 12px;
}

.show-faq main,
.show-faq footer,
.show-faq .show-help {
	display: none;
}

.show-faq .faq,
.show-faq .hide-help {
	display: block;
}

@media (max-width: 320px) {
	main .author {
		font-size: 16px;
	}

	main .title {
		font-size: 30px;
	}

	main .download a {
		font-size: 16px;
		height: 48px;
		line-height: 48px;
	}

	main .download .extension {
		font-size: 12px;
	}

	main .download .size {
		font-size: 9px;
	}
}

@media (min-width: 768px) {
	.wrapper {
		padding: 14px 15px 30px 65px;
	}

	header {
		height: 30px;
		margin-bottom: 45px;
	}

	header .show-help,
	header .hide-help {
		font-size: 20px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}

	header .hide-help {
		line-height: 28px;
	}

	main {
		box-shadow: none;
		margin-bottom: 88px;
		padding: 0;
		width: 80%;
	}

	main .author {
		font-size: 24px;
	}

	main .title {
		font-size: 50px;
		margin-bottom: 30px;
	}

	main .download {
		margin-bottom: 60px;
		width: 400px;
	}

	main .download a {
		font-size: 28px;
		height: 80px;
		line-height: 80px;
		margin-right: 20px;
	}

	main .download .extension {
		font-size: 21px;
	}

	main .download .size {
		font-size: 16px;
	}

	main .counter {
		font-size: 24px;
	}

	footer {
		font-size: 24px;
		width: 50%;
	}

	.faq {
		margin: -36px 0 0 -45px;
		padding: 36px 20px 45px 45px;
	}

	.faq h2,
	.faq h3,
	.faq p {
		max-width: 660px;
	}

	.faq h2 {
		font-size: 50px;
		line-height: 1.1;
	}

	.faq h3 {
		font-size: 25px;
		line-height: 1.1;
		margin: 22px 0 16px;
	}

	.faq p {
		font-size: 17px;
		line-height: 1.4;
		margin-top: 14px;
	}
}
