<!DOCTYPE html>
<html>
	<head>
		<title>Admin / Edit</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="../../fonts/fonts.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div class="logo">CARDBOOK</div>
				<div class="menu">
					<a href="#">Каталог книг</a>
					<a class="create-btn" href="#">Додати книгу</a>
					<a class="logout" href="#">Вийти</a>
				</div>
			</header>
			<main class="edit">
				<section class="info">
					<h2>1. Інформація про книгу</h2>
					<div class="fields">
						<div class="field author">
							<label for="author">Автор книги</label>
							<input id="author" name="author" placeholder="Ім’я, призвище">
						</div>
						<div class="field title">
							<label for="title">Назва</label>
							<input id="title" name="title">
						</div>
					</div>
				</section>
				<section class="upload">
					<h2>2. Завантаження файлів</h2>
					<div class="description">Перетягніть файл потрібного формату у відповідну комірку</div>
					<div class="drop-zone">
						<div class="extension">.epub</div>
					</div>
				</section>
				<section class="links">
					<h2>3. Генерація посилань</h2>
					<div class="description">Введіть необхідну кількість унікальних посилань</div>
					<div class="fields">
						<div class="field">
							<label for="links">Кількість посилань</label>
							<input id="links" name="links" value="10 000">
						</div>
					</div>
				</section>
				<section class="submit">
					<h2>4. Резюме</h2>
					<div class="data">
						<p>Іван Нечуй-Левицький</p>
						<p>Побіда Хмельницького під Збаражем і Зборовом</p>
						<p>IvanNechuyLevitsky_Pobida.epub 0.7 MB</p>
						<p>10 000 посилань</p>
					</div>
					<button class="button">Опублікувати</button>
				</section>
				<section class="result">
					<h2>5. Завантажте файл для генерації QR-кодів</h2>
					<div class="description">Завантажте файл на компьютер для подальшої роботи в InDesign</div>
					<div class="error-msg">Опублікуйте книгу для генерації посилань на неї</div>
				</section>
			</main>
		</div>
	</body>
</html>
